@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
.btn__label {
  font-weight: 300;
}

input,
select,
textarea,
div {
  box-shadow: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

.nav-group__content {
  margin-top: 8px;

  .nav__link {
    padding: 8px 0;
    font-size: 1rem;
  }
}
